<!DOCTYPE html>
<html>
  <head>
    <title>{{page_title}}</title>
	  <link rel="stylesheet" type="text/css" href="assets/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
	  <div class="container">
      {{ content|safe }}
			<label for="email">Subscribe to our mailinglist for updates:</label>
		  <form action="https://brunolauwers.us13.list-manage.com/subscribe/post?u=f2d2bb7f8a149da420fc20d0d&amp;id=4f1688c010&amp;f_id=005a1ee2f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
			  <input type="email" id="mce-EMAIL" name="EMAIL" placeholder="example@mail.com" class="required email">
			  <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe">
        <div id="mce-responses" class="clear foot">
		      <div class="response" id="mce-error-response" style="display:none"></div>
		      <div class="response" id="mce-success-response" style="display:none"></div>
	      </div>
        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_f2d2bb7f8a149da420fc20d0d_4f1688c010" tabindex="-1" value=""></div>
		  </form>
      <p class="footer">Made with &#128150; by Infinite8 in Utrecht</p>
	  </div>
    <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
    <script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
  </body>
</html>

